.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--basic-white);

  @media (min-width: $desktop-width) {
    padding: 32px 15px 36px;
  }
}

.header__logo {
  height: 54px;
  display: block;
  padding: 0 15px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 5px;
  }
}

.header__logo-svg {
  width: 44px;
  height: 17px;

  @media (min-width: $desktop-width) {
    width: 57px;
    height: 22px;
  }
}

.header__nav-block {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
}

.header__nav {
  display: none;

  @media (min-width: $desktop-width) {
    max-width: 813px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.header__item {
  @media (min-width: $desktop-width) {
    height: 32px;
    margin-left: 40px;

    &:first-child {
      margin: 0;
    }
  }
}

.header__item-link {
  @media (min-width: $desktop-width) {
    padding: 7px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--basic-black);

    &:hover,
    &:focus {
      color: var(--basic-pink);
    }
  }
}

.header__phone-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 230px;
    margin-left: 70px;

    &:hover .header__phone-link,
    &:focus .header__phone-link {
      color: var(--basic-pink);
    }

    &:hover .header__svg-icon,
    &:focus .header__svg-icon {
      fill: var(--basic-pink);
    }
  }
}

.header__phone-link {
  @media (min-width: $desktop-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: var(--basic-black);
  }
}

.header__wrapper-svg-photo {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 6px;
}

.header__svg-icon {
  fill: var(--basic-black);

  &:hover,
  &:focus {
    fill: var(--basic-pink);
  }
}

.header__wrapper-menu {
  padding: 10px;
  background: var(--basic-pink);

  @media (min-width: $tablet-width) {
    padding: 10px 21px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

header__button-menu {
  width: 30px;
  height: 30px;
  display: block;
}
