.travel-places {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: 79px 24px max-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 21px 1fr 21px;
    grid-template-rows: 136px 30px max-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 163px 65px max-content;
  }

  @media (min-width: $desktop-width-onli-tab) {
    grid-template-columns: 1fr 1170px 1fr;
  }
}

.travel-places__menu {
  max-width: 902px;
  margin: 0;
  padding: 40px 0 18px 0;
  display: flex;
  list-style: none;
  border-bottom: $border-black-30;
  grid-column: 2 / -1;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 124px;
  }
}

.travel-places__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: none;
  letter-spacing: -0.415px;
  margin-left: 99px;

  &:first-child {
    margin-left: 0;
  }

  &--greece {
    display: block;
  }

  &--albania {
    display: block;
  }

  &--macedonia {
    @media (min-width: $mobile-width-onli) {
      display: block;
    }
  }

  &--montenegro {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--croatia {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.travel-places__link {
  text-decoration: none;
  color: var(--black-30);

  &--active {
    color: var(--basic-pink);
  }
}

.travel-places__list-cart {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 3 / -1;

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }
}

.travel-places__item-cart {
  display: none;

  &--active {
    grid-template-columns: 16px 10px 1fr 10px 16px;
    grid-template-rows: 36px 20px max-content 20px 50px 50px 50px 365px 66px;
    display: grid;

    @media (min-width: $tablet-width) {
      grid-template-columns: 16px 10px 1fr 10px 16px;
      grid-template-rows: 45px 20px max-content 20px 50px 30px 80px 365px 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 370px 100px 403px 1fr;
      grid-template-rows: 114px 367px 24px 75px 16px;
    }
  }
}

.travel-places__title {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: var(--basic-gray);
  grid-column: 2 / -2;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    position: relative;
    text-align: left;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 55px;
    line-height: 90px;

    &::after {
      position: absolute;
      content: '';
      width: 175px;
      height: 3px;
      left: 0;
      bottom: 0;
      background: var(--basic-pink);
    }
  }
}

.travel-places__text {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: var(--black-70);
  grid-column: 2 / -2;
  grid-row: 3 / 4;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    text-align: left;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.travel-places__button {
  padding: 19px 0;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--basic-pink);
  color: var(--basic-white);
  grid-column: 2 / -2;
  grid-row: 5 / 6;

  &:hover,
  &:focus {
    background: var(--basic-pink-hover);
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin-left: calc(50% - 250px / 2);
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.travel-places__image-wrapper {
  width: 100%;
  height: 415px;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 7 / 9;

  @media (min-width: $desktop-width) {
    width: 430px;
    height: 596px;
    grid-column: -3 / -2;
    grid-row: 1 / -1;
  }
}

.travel-places__image {
  width: 100%;
  height: auto;
}

.travel-places__reviews {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  grid-column: 3 / -3;
  grid-row: 8 / 10;

  @media (min-width: $desktop-width) {
    max-width: 382px;
    margin-left: auto;
    grid-column: -3 / -1;
    grid-row: 2 / 3;
  }
}

.travel-places__reviews-item {
  max-width: 382px;
  padding: 30px 20px 34px;
  background: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding: 30px;
  }

}

.travel-places__reviews-title {
  position: relative;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.691667px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 30px;
    line-height: 37px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 68px;
    height: 1px;
    bottom: -10px;
    left: calc(50% - 68px / 2);
    background: var(--basic-pink);

    @media (min-width: $tablet-width) {
      left: 0;
    }
  }
}

.travel-places__reviews-text {
  margin: 0;
  padding: 31px 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: var(--black-70);

  @media (min-width: $tablet-width) {
    padding: 32px 0 35px;
    text-align: left;
  }
}

.travel-places__wrapper-user {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.travel-places__reviews-avatar {
  width: 38px;
  height: 38px;
  display: block;
  margin-left: calc(50% - 38px / 2);

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.travel-places__reviews-name {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  color: var(--basic-gray);

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }
}