$mobile-width-onli: 532px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-onli: 1170px;
$desktop-width-onli-tab: 1210px;
$desktop-width-bg: 1466px;

:root {
  --basic-white: #ffffff;
  --basic-pink: #fe7865;
  --basic-pink-light: #f17d4B;
  --basic-black: #141517;
  --basic-gray: #2c2e3f;
  --black-30: rgba(20, 21, 23, 0.3);
  --black-50: rgba(20, 21, 23, 0.5);
  --black-70: rgba(44, 46, 63, 0.7);
  --gray-30: rgba(44, 46, 63, 0.3);
}

$border-black-30: 1px solid var(--black-30);
$border-gray: 1px solid var(--gray-30);
$border-pink: 3px solid var(--basic-pink);
$border-pink-1: 1px solid var(--basic-pink);

$shadow-pink: 0px 0px 0px 2px var(--basic-pink) inset;

$font-montserrat: "Montserrat", "Arial", sans-serif;