$tablet-width: 768px;
$desktop-width: 1170px;

:root {
  --basic-white: #ffffff;
  --basic-pink: #fe7865;
  --basic-pink-light: #f17d4B;
  --basic-black: #141517;
  --basic-gray: #2c2e3f;
  --black-50: rgba(20, 21, 23, 0.5);
  --black-70: rgba(20, 21, 23, 0.7);
}

$font-montserrat: "Montserrat", "Arial", sans-serif;
